@charset "utf-8";
/* CSS Document */
body,input,form,h1,h2,h3,h4,ul,ol,li,p,a{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
}
.clearfix::after{
	content:"";
	display:block;
	clear:both;
}
